<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<system.serviceModel>
		<services>
			<service name="WcfChatHost.Chat">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:50819" />
						<add baseAddress="http://localhost:50818" />
					</baseAddresses>
				</host>
				<endpoint
						contract="WcfChatHost.IChat"
						address="tcp"
						binding="netTcpBinding"
						bindingConfiguration="tcpBinding">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint
						contract="IMetadataExchange"
						address="mex"
						binding="mexHttpBinding"  />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
					<serviceDebug includeExceptionDetailInFaults="False" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<bindings>
			<netTcpBinding>
				<binding name="tcpBinding"
						 maxBufferSize="67108864"
						 maxReceivedMessageSize="67108864"
						 maxBufferPoolSize="67108864"
						 transferMode="Buffered"
						 closeTimeout="00:00:10"
						 openTimeout="00:00:10"
						 receiveTimeout="00:20:00"
						 sendTimeout="00:01:00"
						 maxConnections="100">
					<security mode="None">
					</security>
					<readerQuotas maxArrayLength="67108864"
								  maxBytesPerRead="67108864"
								  maxStringContentLength="67108864" />
					<reliableSession enabled="true" inactivityTimeout="00:20:00" />
				</binding>
			</netTcpBinding>
		</bindings>
	</system.serviceModel>
</configuration>