<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.serviceModel>
		<bindings>
			<netHttpBinding>
				<binding name="NetHttpBinding_IChat">
					<webSocketSettings transportUsage="Always" />
				</binding>
			</netHttpBinding>
		</bindings>
		<client>
			<endpoint address="ws://localhost:50821/" binding="netHttpBinding"
                bindingConfiguration="NetHttpBinding_IChat" contract="WcfServiceLibrary.IChat"
                name="NetHttpBinding_IChat" />
		</client>
	</system.serviceModel>
</configuration>